#header {
    display: flex;
    background-color: #22698f;
    align-items: flex-end;
}

#titleDiv {
    padding: 5px;
    margin: 0 auto;
}

#title {
    text-decoration: none;
    font-size: 45px;
    font-weight: bold;
    color: black;
}

#nav {
    margin: 10px;
}

a {
    text-decoration: none;
    color: black;
    margin: 10px;
}

.link {
    font-size: 25px;
}